<div class="navbar-fixed">
  <nav class="nav-extended teal">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">BabySwap</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a id="pointsBadge"></a></li>
        <li <%- title === 'Dashboard' ? 'class="active"' : '' %>><a id="dashboard-menu" href="/dashboard">Dashboard</a></li>
        <li <%- title === 'My Posts' ? 'class="active"' : '' %>><a id="my-posts-menu" href="/my-posts">My Posts</a></li>
        <li <%- title === 'Account' ? 'class="active"' : '' %>><a id="account-menu" href="/account">Account </a></li>
        <li><a id="logout-menu" href="#">Logout</a></li>
        <li <%- title === 'Login' ? 'class="active"' : '' %>><a id="login-menu" href="/login">Login</a></li>
        <li <%- title === 'Register' ? 'class="active"' : '' %>><a id="register-menu" href="/register">Register</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <li><a id="pointsBadge"></a></li>
  <li <%- title === 'Dashboard' ? 'class="active"' : '' %>><a id="dashboard-menu" href="/dashboard">Dashboard</a></li>
  <li <%- title === 'My Posts' ? 'class="active"' : '' %>><a id="my-posts-menu" href="/my-posts">My Posts</a></li>
  <li <%- title === 'Account' ? 'class="active"' : '' %>><a id="account-menu" href="/account">Account </a></li>
  <li><a id="logout-menu" href="#">Logout</a></li>
  <li <%- title === 'Login' ? 'class="active"' : '' %>><a id="login-menu" href="/login">Login</a></li>
  <li <%- title === 'Register' ? 'class="active"' : '' %>><a id="register-menu" href="/register">Register</a></li>
</ul>
